//- CCO
extends product.pug

block variables
  - var title = 'Your Chief Corporate Officer - CCO.ai'
  - var product = 'cco'

block header
  h1 Your Chief Corporate Officer

  p Our Chief Corporate Officer ensures that your corporate affairs run smoothly so that diligence will too.

block introduction
  h1 Keep it Green

  p.intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui arcu, at pulvinar magna hendrerit quis. Praesent nisi leo, consequat et magna sed, aliquet porttitor odio.

block features
  +feature('Feature','cco','feature-automation')
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      
  +feature('Feature','cco','feature-automation')
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      
  +feature('Feature','cco','feature-automation')
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      
  +feature('Feature','cco','feature-automation')
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
