//- CCO
extends product.pug

block variables
  - var title = 'Your Chief Creative Officer - CCO.ai'
  - var product = 'cco'

block header
  h1 Your Chief Creative Officer

  p Our Chief Creative Officer ensures that your corporate affairs run smoothly so that diligence will too.

block introduction
  h1 Keep it Green

  p.intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui arcu, at pulvinar magna hendrerit quis. Praesent nisi leo, consequat et magna sed, aliquet porttitor odio.

block features
  +feature('Feature','cto','feature-contracts')
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      
  +feature('Feature','orange','feature-notes')
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      
  +feature('Feature','cro','feature-compliance')
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Detail','font-awesome')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
